<h1> Classes Listing </h1>

<ul>
  <li> Name: Lunges </li>
  <li> Description: Challenging your balance is an essential part of a well-rounded exercise routine.</li>
</ul>

<ul>
  <li> Name: Pushups </li>
  <li> Description: Drop and give me 20!</li>
</ul>
