<% if user_signed_in? %>
  <h1 align="center">Listing all exercises</h1>
    <div align="center">
      <%= will_paginate @exercises %>
    </div>
      <%= render "exercises/exercise", obj: @exercises %>
    <div align="center">
      <%= will_paginate @exercises %>
    </div>
<% else %>
  <%= render 'layouts/static_landing_page' %>
<% end %>
